<!DOCTYPE html>
<html>
<head>
  <title>Premier sa ussd</title>
  <%= stylesheet_link_tag    "premier_sa_ussd/application", media: "all" %>
  <%= javascript_include_tag "premier_sa_ussd/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
